

.menu-list {
  padding-left:20px;
 text-align: left;
  color: #fff4e0;
  overflow: scroll;

  .location {
   margin-left: 20px;
    display: flex;
    flex-direction: row;
    img {
      display: inline-block;
    }

    .name {
      cursor: pointer;
      margin-left: 5px;
    }
  }

  .expansion {
    pointer-events: none;
    font-family: 'Oswald', sans-serif;
    background-color: #7b766f;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size:12px;
    font-weight:600;
    color: #000;
    padding-left: 10px;
  }
}
