

.map-pin {
  position: relative;
  img {
    width: 18px;
    height: 18px;
  }
  .info {
    visibility: hidden;
    position: absolute;
  }
  &:hover {
    .info {

      p {

      }

      visibility: visible;
      color: #fff;
      position: absolute;
      display: block;
      min-width: 100px;
      max-width: 200px;
      background: rgba(0, 0, 0, 0.66);
      margin-left: 15px;
      border-radius: 10px;
      font-size: 10px;
      padding: 3px 5px;
      text-align: left;
      z-index: 999;

    }
  }

}
